* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
a{
    text-decoration: none;
    color: #fff;
    font-size: ;
}
.wrapper {
    width: 100%;
    height: 100vh;
    background: url("img/image.jpg") no-repeat;
    background-size: cover;
}

.loginform {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 380px;
    width: 100%;
    height: auto;
    border-radius: 5px;
    padding: 40px 30px 40px 0;
    box-shadow: -4px -4px 11px #c8c2c2a2,
        4px 4px 9px rgba(147, 149, 151, 0.871);
}

.loginform .title {
    font-size: 32px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    color: #c9c3cd;
    margin-bottom: 35px;
}

.input-form {
    margin-bottom: 35px;
    position: relative;
}

.input-form .input {
    width: 100%;
    padding: 16px;
    padding-left: 80px;
    font-size: 18px;
    text-align: center;
    border: transparent;
    color: #fff;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background: rgba(105, 105, 105, 0.55);
    outline: none;
}

.input-form .fas {
    position: absolute;
    top: 18px;
    left: 35px;
    font-size: 20px;
    color: #fff;
}

.input-form:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 10px;
    height: 100%;
    background: #bfb7b7;
}

.input-form:before {
    content: "";
    position: absolute;
    top: 6px;
    left: 70px;
    width: 2px;
    height: 80%;
    background: #d4cfd9;
}

.btn {
    width: 200px;
    background: rgba(163, 159, 159, 0.55);
    margin: 0 auto;
    text-align: center;
    border-radius: 5px;
    padding: 12px;
}

.btn a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 24px;
}
.dev {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background: rgba(59, 59, 59, 0.55);
    color: white;
    text-align: center;
  }
  .dev p{
      text-align: end;
      font-size: 12px;
  }
  .dev .span_1{
      color: rgb(74, 90, 116);
  }
  .dev .span_2{
      color: rgb(73, 81, 85);
  }